{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png'%}">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel= "stylesheet" href= "{% static 'LineAwsome/css/line-awesome.min.css' %}" >
  <link href="{% static 'css/main.css' %}" rel="stylesheet"> 
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
<title>Main page</title>
</head>
<body>

<a href="https://kiarashbashokian.com" target="_blank">
  <img src="{% static 'img/Untitled-removebg-preview.png' %}" alt="Your Logo" class="logo">
</a>

<div class="phone-icon" id="phoneIcon">
    <i class="fa-solid fa-phone icon"></i>
    <span class="tooltip" id="tooltip">Telephone: num1 - num2 - num3</span>
</div>

<div class="clock" id="clock">
    <span class="clockMessage" id="clockMessage">Iran Time Zone (GMT +3:30 hours)</span>
</div>

   <div class="main-container">
    <div class="form-container">
      <form action="{% url 'main' %}" method="post" enctype="multipart/form-data">
        <div class="input-container">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="input-container">
              <label for="last_name">Last Name:</label>
              <input type="text" id="last_name" name="last_name" placeholder="Enter your last name">
        </div>

        <div class="input-container">
               <label for="department_name">Department Name:</label>
               <input type="text" id="department_name" name="department_name" placeholder="Enter your department name">
        </div>
        
        <div class="input-container">
          <label for="request_type">Request Type:</label>
          <select id="request_type" name="request_type" class="request-type-select">
          <option value="" selected disabled>Select type of request</option>
          <option value="hardwareissue">Hardware Issue</option>
          <option value="softwareissue">Software Issue</option>
          <option value="update&upgrade">Update & Upgrade</option>
          <option value="boost">Boost</option>
          <option value="repair">Repair</option>
          <option value="installprogram">Install Program</option>
        </select>
      </div>
      <div class="input-container">
    <label for="attachment" id="attachLabel">
      <i class="las la-paperclip" id="attachIcon"></i> Attach file
    </label>
    <input type="file" id="attachment" name="attachment" style="display: none;">
      </div> 
        <div class="input-container">
             <label for="description">Description:</label>
             <textarea id="description" name="description" class="description-textarea" placeholder="Enter description"></textarea>
        </div>

        <!-- CSRF token field (hidden) -->
        <span class="csrf-field">{% csrf_token %}</span>
        <button id="submitButton" type="submit">Submit</button>
        <a href="{% url 'status' %}" class="ticket-history-button">Ticket History</a>
        <span id="errorMessage" style="display: none; color: red;"></span>
      </form>
    </div>
  </div>


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
