body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('/static/img/Backgroundpic.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.locked-message {
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#timer {
  font-size: 24px;
}
