body {
  margin: 0;
  padding: 0;
  background-image: url('/static/img/Backgroundpic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}
.phone-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.icon {
  font-size: 60px;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  height: auto; 
}
.tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: -70px;
  left: 50%; 
  transform: translateX(-50%);
}

.clock {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.clockMessage {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: 30px;
  right: -150px; 
  width: 200px; 
  text-align: center;
}

.clock:hover .clockMessage {
  display: block;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  padding: 25px 20px;
  border-radius: 30px; 
  border: 1px solid #ccc;
  font-size: 18px;
  width: 500px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
}

.input-container {
  position: relative;
  margin-bottom: 40px;
}

#password {
  padding-right: 35px; 
}

#password:focus + i {
  color: #007bff; 
}

.fa-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

#loginButton {
  padding: 25px 30px;
  background-image: linear-gradient(90deg, #0097b2, #7ed957);
  color: var(--black-color);
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold; 
  width : 555px;
  cursor: pointer;
  transition: background-image 0.3s ease; 
}

#loginButton:hover {

  background-image: linear-gradient(90deg, #006f84, #5ca742); 
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.logo,
.phone-icon,
.clock,
.login-container {
  z-index: 1;
}
